.idea/
target/
classes/
git.properties
*.iml
*.ipr
dataset_xsd
preferences.xml
*.log
*.log.[0-9]
id_file
exporter.xml
.DS_Store
jboss.identity
*.releaseBackup
/.project
generated.ddl
*.lck
.java-version
